.side-menu {
    width: 220px;
    background: #33414e;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    h2 {
        color: #fff;
        justify-content: center;
        height: 50px;
        display: flex;
        align-items: center;
        background: #e34724;
    }
    .menu-profile {
        // PROFILE SECTIO
        .user-info {
            background: #2d3945;
            padding: 15px 0;
            .profile-image-section {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding-bottom: 10px;
                .profile-image-icon {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #fff;
                    border-radius: 100px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover {
                        border-color: #ccc;
                        svg {
                            path {
                                color: #ccc;
                            }
                        }
                    }
                    svg {
                        path {
                            color: #fff;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
                .profile-image-item {
                    height: 100px;
                    border-radius: 50px;
                    border: 3px solid #fff;
                    overflow: hidden;
                    flex: 0 0 100px;
                    img {
                        width: 100%;
                    }
                }
            }
            .user-description {
                text-align: center;
                color: #fff;
                h4 {
                    color: #999;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
        // NAVIGATION SIDE MENU
        .menu-navigation-list {
            .menu-items {
                .menu-item {
                    border-bottom: 1px solid #2f3c48;
                    a {
                        display: inline-block;
                        width: 100%;
                        // change on rtl
                        padding: 15px 15px 15px 0;
                        color: #fff;
                        text-decoration: none;
                        transition: all .3s ease-in-out;
                        &:hover {
                            background: #3d4e5d;
                            svg {
                                color: #ffd559;
                            }
                        }
                        svg {
                            transition: all .3s ease-in-out;
                        }
                    }
                    span {
                        padding: 0 10px;
                    }
                    .expaned-menu-itmes {
                        .expanded-menu-item {
                            a {
                                // change on RTL
                                padding: 15px 15px 15px 0; 
                                transition: all .3s ease-in-out;
                                &:hover {
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// shrinked menu design
.side-menu{
    &.shrinked-menu {
        width:  50px;
        .brand-name {
            .brand-letters {
                display: none;
            }
        }
        // PROFILE SECTION
        .menu-profile {
            .user-info {
                .profile-image-section {
                    .profile-image-icon {
                        display: none;
                    }
                    .profile-image-item {
                        flex: 0 0 40px;
                        height: 40px;
                        border-width: 2px;
                    }
                }
                .user-description {
                    display: none;
                }
            }
        }
        // NAVIGATION SIDE MENU
        .menu-navigation-list {
            .menu-items {
                .menu-item {
                    position: relative;
                    span {
                        display: none;
                    }
                    .expaned-menu-itmes {
                        position: absolute;
                        width: 220px;
                        top: 0;
                        // change on RTL
                        left: -225px;
                        background: #33414e;
                        .expanded-menu-item {
                            span {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
}
// should be im main 
li::marker {
    display: none;
}