*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

/* custom class */

/* container class when the menu is open */
.appMinWidth{
  width: calc(100% - 220px);
  float: left;
  padding: 50px;
}